@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 20px;
}

section {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3em;
  position: relative;
}

.presentation img {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 25%;
  left: 20%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 2px 0px 73px 9px rgba(184, 184, 184, 0.81);
  box-shadow: 2px 0px 73px 9px rgba(184, 184, 184, 0.81);
}

.presentation span {
  position: absolute;
  margin-bottom: 30px;
  top: 25%;
  right: 15%;
  width: 40%;
}

.activity-even {
  display: -ms-grid;
  display: grid;
  background-color: black;
  color: white;
}

.activity-even img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activity-even h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.activity-even p {
  width: 40%;
  margin-bottom: 1em;
}

.activity-even button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  height: 3em;
  width: 10em;
  border-radius: 25px;
  outline: none;
  color: white;
  background-color: #CE7B91;
  border: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.activity-even button:hover {
  background-color: #cc8698;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.activity-odd img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activity-odd h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.activity-odd p {
  width: 40%;
  margin-bottom: 1em;
}

.activity-odd button {
  height: 3em;
  width: 10em;
  border-radius: 25px;
  outline: none;
  color: white;
  background-color: #222944;
  border: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.activity-odd button:hover {
  background-color: #262d44;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.img-position {
  -o-object-position: right;
     object-position: right;
}

#fp-nav ul li .fp-tooltip.fp-right {
  color: black;
}

.activity-page {
  width: 60%;
  margin: 0 auto;
}

.activity-page p {
  padding-top: 4em;
  padding-bottom: 4em;
  margin: 0 auto;
}

.activity-page button {
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  height: 3em;
  width: 10em;
  border-radius: 25px;
  outline: none;
  color: white;
  background-color: #CE7B91;
  border: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
}

.activity-page button:hover {
  background-color: #cc8698;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.activity-page img {
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
}

@media only screen and (min-width: 300px) and (max-width: 450px) {
  section {
    position: relative;
  }
  .presentation img {
    width: 150px;
    height: 150px;
    top: 3em;
    left: 30%;
    right: 50%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .presentation span {
    margin-top: 2em;
    margin-bottom: 30px;
    width: 80%;
    font-size: 0.7em;
  }
  .activity-even {
    margin: 0;
  }
  .activity-even h1 {
    margin-top: 11em;
    font-size: 0.9em;
  }
  .activity-even p {
    font-size: 0.7em;
    width: 100%;
  }
  .activity-even img {
    position: absolute;
    width: 100vw;
    margin: 0;
    left: 0;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .activity-even button {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    height: 3em;
    width: 11em;
    font-size: 0.7em;
    margin-top: 1em;
  }
  .activity-odd {
    margin: 0;
  }
  .activity-odd h1 {
    margin-top: 11em;
    font-size: 0.9em;
  }
  .activity-odd p {
    font-size: 0.7em;
    width: 80%;
  }
  .activity-odd img {
    position: absolute;
    width: 100vw;
    margin: 0;
    left: 0;
    height: 40%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .activity-odd button {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    height: 3em;
    width: 11em;
    font-size: 0.7em;
    margin-top: 1em;
  }
  .activity-page {
    width: 80%;
  }
  .activity-page p {
    font-size: 0.7em;
  }
  .activity-page button {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    height: 3em;
    width: 10em;
    font-size: 0.7em;
    margin-top: 1.5em;
  }
  .activity-page img {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1300px) {
  .presentation img {
    width: 350px;
    height: 350px;
    top: 3em;
    left: 25%;
    right: 50%;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .presentation span {
    margin-top: 10em;
    margin-bottom: 30px;
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */